{{ if and (eq .chezmoi.os "darwin") .direct_installs -}}
#!/bin/bash

# Call generic installer with direct install commands
exec "{{ .chezmoi.sourceDir }}/resources/shell/scripts/install-packages.sh" "direct" "{{ len .direct_installs }}" {{ range .direct_installs }}{{ .command | quote }} {{ end }}
{{ end -}}