{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
{{ range .taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .casks -}}
cask {{ . | quote }}
{{ end -}}
EOF
{{ end -}}